.contenedor-contador {
  width: 70%;

  padding: 2rem;
  margin: 10% auto;

  border-radius: 20px;
  box-shadow: 0 0 15px #66acff;

}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: #953523;
}

.bg-green {
  background-color: #43ab95;
}

.bg-blue {
  background-color: #66acdb;
}